# Node modules
node_modules/

# Local configuration and environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Build output
public/*
!public/site.webmanifest
!public/roster.html
!public/roster_lineup.js
!public/login.html
!public/fixtures.html
!public/index.html
!public/article.html

.vercel
.env*
scratch/
